/assets/*
/commands/*
/runtime/*
/src/*
/tests/*
/vagrant/*
/vendor/*
/widgets/*
Vagrantfile
yii
yii.bat
composer.json
composer.lock
LICENSE.md
README.md
requirements.php
codeception.yml
docker-compose.yml